absl-py==2.1.0
accelerate==1.1.1
accelerator==2024.6.11
aiohttp==3.9.5
aiosignal==1.3.1
aiozmq==0.9.0
albumentations==1.1.0
alembic==1.7.6
annotated-types==0.7.0
ansi2html==1.7.0
anyio
appdirs==1.4.4
argo-workflows==3.6.0
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asgiref==3.4.1
astor==0.8.1
astroid==2.11.2
astropy==6.0.0
astropy-iers-data==0.2024.2.26.0.28.55
asttokens==2.4.1
astunparse==1.6.3
async-generator==1.10
async-timeout 
atomicwrites==1.3.0
attrs==23.2.0
audioread==3.0.1
autopep8==1.5
avro-python3==1.9.1
bayesian-optimization==1.1.0
bcrypt==4.1.3
beautifulsoup4
benepar==0.2.0
beniget==0.4.0
bitsandbytes==0.43.3
black==22.6.0
bleach==6.1.0
blis==0.7.11
bokeh==2.3.2
boltons==21.0.0
boto==2.49.0
boto3==1.27.1
botocore
bottle==0.12.25
branca==0.4.0
Brotli==1.1.0
build==1.2.1
CacheControl==0.14.0
cachetools==5.3.2
catalogue==2.0.10
catboost==1.2
category-encoders==2.0.0
click==8.1.7
click-plugins==1.1.1
cloudpathlib==0.16.0
cloudpickle==3.0.0
cmake==3.28.1
colorama==0.4.4
colored==1.4.3
coloredlogs==15.0.1
colour==0.1.5
comm==0.2.1
confection==0.1.4
contextlib2==0.5.5
contexttimer==0.3.3
contourpy==1.2.0
convertdate==2.3.2
coverage==4.5.4
cryptography==42.0.8
cvxpy==1.1.15
cycler==0.12.1
cymem==2.0.8
Cython==3.0.8
dacite==1.6.0
dash==2.3.1
dash-core-components==2.0.0
dash-html-components==2.0.0
dash-table==5.0.0
databricks-cli==0.17.2
datasets==3.1.0
deap==1.3.1
debugpy==1.8.0
decorator==5.1.1
deepdish==0.3.6
deepmerge==0.1.0
defusedxml==0.7.1
Deprecated==1.2.14
deprecation==2.1.0
descartes==1.1.0
dill==0.3.8
distlib==0.3.8
distributed 
dm-haiku==0.0.1
dm-tree==0.1.8
dnspython==2.6.1
docker==5.0.3
docker-pycreds==0.4.0
docopt==0.6.0
docstring_parser==0.16
dopamine-rl==3.0.1
dtreeviz==0.8.1
dulwich==0.21.7
easydict==1.9
EasyProcess==0.3
ecdsa==0.17.0
ecos==2.0.7.post1
einops==0.8.0
eliot==1.14.0
eliot-tree==21.0.0
email_validator==2.2.0
entrypoints==0.4
ephem==4.1.5
evaluate==0.4.2
evdev==1.7.0
exceptiongroup==1.2.0
execnet==2.0.2
executing==2.0.1
expecttest==0.1.3
fabric==3.2.2
factor-analyzer==0.3.2
fastapi==0.111.1
fastapi-cli>=0.0.4
fastavro==1.9.4
fasteners==0.15
fastjsonschema==2.20.0
featuretools==0.9.1
Fiona==1.8.21
fire==0.6.0
flake8==3.8.4
flash-attn @ https://github.com/Dao-AILab/flash-attention/releases/download/v2.6.0/flash_attn-2.6.0+cu122torch2.4cxx11abiTRUE-cp310-cp310-linux_x86_64.whl#sha256=b70257a7448a9a143461605522cfcba949772bbbce1b3cc4b77ee2fedae43412
Flask==2.1.2
Flask-Compress==1.12
flatbuffers==24.3.25
folium==0.10.0
fonttools==4.47.2
fqdn==1.5.1
frozenlist==1.4.1
fsspec==2024.5.0
funcy==2.0
future==0.18.2
galore-torch==1.0
gast==0.5.4
GDAL==3.4.1
gensim==3.8.0
geopandas==0.5.1
gin-config==0.3.0
gitdb==4.0.11
GitPython==3.1.43
google
google-api-core
google-auth
google-auth-oauthlib
google-pasta
googleapis-common-protos
graphsurgeon 
graphviz==0.14
greenlet==1.1.2
grpcio==1.60.0
gunicorn==20.1.0
gym==0.26.2
gym-notices==0.0.6
h11==0.14.0
h5grove==0.0.14
h5py==3.10.0
hdf5storage==0.1.15
hf_transfer==0.1.8
hijri-converter==2.2.3
hjson==3.1.0
holidays==0.12
httpcore==1.0.5
httplib2==0.17.4
httpstan==4.6.1
httptools==0.6.1
httpx==0.27.0
huggingface-hub==0.23.4
humanfriendly==10.0
hyperopt==0.1.2
hypothesis==5.35.1
identify==2.6.0
idna==3.7
imageio==2.8.0
imbalanced-learn==0.5.0
importlib_resources==6.4.0
inflate64==1.0.0
iniconfig==2.0.0
installer==0.7.0
intel-openmp==2021.4.0
invoke==2.2.0
ipykernel==6.29.0
ipython==8.20.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
iso8601==1.0.2
isoduration==20.11.0
isort==4.3.21
itsdangerous==2.1.2
jaraco.classes==3.4.0
jaxlib==0.4.25
jedi==0.17.2
jeepney==0.8.0
Jinja2==3.1.4
jmespath==0.9.4
joblib==1.4.2
JPype1==1.5.0
json-tricks==3.15.5
json5==0.9.14
jsonargparse==4.31.0
jsonpatch==1.32
jsonpickle==1.5.0
jsonpointer==2.3
jsonschema==4.23.0
jsonschema-specifications==2023.12.1
keyring==24.3.1
kiwisolver==1.4.5
konlpy==0.5.2
korean-lunar-calendar==0.2.1
kubernetes==22.6.0
langcodes==3.3.0
lazy-object-proxy==1.4.3
lazy_loader==0.3
lesscpy==0.14.0
librosa==0.10.1
lightgbm==2.3.1
lightning==2.3.1
lightning-utilities==0.11.3.post0
lime==0.1.1.37
LunarCalendar==0.0.9
lunardate==0.2.0
lxml==4.9.1
lz4==3.1.9
Mako==1.1.3
maproxy==0.0.12
Markdown==3.5.2
markdown-it-py==3.0.0
MarkupSafe==2.1.5
marshmallow==3.14.1
matplotlib==3.8.2
matplotlib-inline==0.1.6
mccabe==0.6.1
mdit-py-plugins==0.4.0
mdurl==0.1.2
mercurial==6.1.1
meshio==4.4.5
mimeparse==0.1.3
mistune==3.0.2
mkl==2021.1.1
mkl-devel==2021.1.1
mkl-include==2021.1.1
ml-dtypes==0.3.2
mlflow==2.17.2
mlxtend==0.17.2
mmdnn==0.3.1
mne==0.20.5
mock==5.1.0
monotonic==1.4
more-itertools==10.3.0
mpi4py==3.1.5
mpmath==1.3.0
msgpack==1.0.8
msgpack-python==0.5.6
multidict==6.0.5
multiprocess==0.70.16
multivolumefile==0.2.3
munch==2.5.0
murmurhash==1.0.10
mypy-extensions==0.4.3
namedlist==1.7
nbclassic==0.3.6
nbclient==0.9.0
nbconvert==7.14.2
nbformat==5.9.2
nest-asyncio==1.5.9
networkx==3.3
ninja==1.11.1.1
nltk==3.8.1
nodeenv==1.9.1
nose==1.3.3
notebook==6.4.10
notebook-shim==0.1.0
numexpr==2.9.0
numpy==1.26.4
oauth2client==3.0.0
oauthenticator==0.12.1
oauthlib==3.2.2
onnx==1.16.1
onnxruntime==1.18.1
opencv-python==4.9.0.80
opencv-python-headless==4.6.0.66
opt-einsum==3.2.0
optimum==1.23.3
optree==0.10.0
orjson==3.9.15
packaging==24.1
pamela==1.0.0
pandas==2.2.2
pandasgui==0.2.7
pandocfilters==1.5.1
paramiko==3.4.0
parso==0.7.1
pastel==0.2.0
path==16.2.0
pathspec==0.12.1
patsy==0.5.6
pbr==5.5.0
peft==0.13.2
pexpect==4.9.0
pillow==10.4.0
pkginfo==1.11.1
plaidml==0.7.0
platformdirs==4.2.2
plotly==5.7.0
pluggy==1.3.0
plumbum==1.8.3
polygraphy==0.49.9
pooch==1.8.0
portpicker==1.3.1
pre-commit==3.7.1
preshed==3.0.9
prettytable==3.9.0
progressbar==2.5
prometheus-client==0.19.0
prometheus-flask-exporter==0.20.3
promise==2.3
prompt-toolkit==3.0.43
protobuf==3.20.3
psutil==6.0.0
ptyprocess==0.7.0
PuLP==2.5.1
pure-eval==0.2.2
py-cpuinfo==9.0.0
py7zr==0.21.1
pyaml==19.12.0
pyarrow==16.1.0
pyarrow-hotfix==0.6
pyasn1==0.5.1
pyasn1-modules==0.3.0
pybcj==1.0.2
pybind11==2.11.1
pybind11-global==2.11.1
pycairo==1.20.1
pycodestyle==2.6.0
pycparser==2.22
pycryptodomex==3.20.0
pydantic==2.8.2
pydantic_core==2.20.1
pydocstyle==6.1.1
pydotplus==2.0.2
pyerfa==2.0.0.1
pyflakes==2.2.0
pygal==2.4.0
pygame==2.3.0
pyglet==1.5.0
Pygments==2.18.0
PyGObject==3.42.1
PyJWT==2.4.0
pyLDAvis==2.1.2
pylev==1.4.0
pylint==2.13.5
pyls-black==0.4.4
PyMeeus==0.5.10
pymongo==3.10.1
PyNaCl==1.5.0
pynput==1.7.6
pyOpenSSL==24.0.0
pyparsing==3.1.1
pyppmd==1.1.0
pyproj==3.6.1
pyproject_hooks==1.1.0
PyQt5==5.15.0
PyQt5_sip==12.8.1
PyQtWebEngine==5.15.2
pyrsistent==0.19.3
pyshp==2.2.0
pysimdjson==3.2.0
PySocks==1.7.1
pystan==3.3.0
pytest==7.4.4
pytest-flakefinder==1.1.0
pytest-rerunfailures==11.1.2
pytest-shard==0.1.2
pytest-xdist==3.5.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
python-hostlist==1.23.0
python-jose==3.3.0
python-json-logger==2.0.2
python-jsonrpc-server==0.4.0
python-language-server==0.36.2
python-lsp-jsonrpc==1.0.0
python-lsp-server==1.4.1
python-multipart==0.0.9
python-speech-features==0.6
python-xlib==0.31
PythonWebHDFS==0.2.3
pythran==0.11.0
pytoolconfig==1.2.2
pytorch-ignite==0.5.0.post2
pytorch-lightning==2.3.1
pytorch-quantization==2.1.2
pytz
PyVirtualDisplay==1.3.2
pyvista==0.41.1
pyvo==1.0
PyWavelets==1.1.1
PyYAML==6.0.1
pyzmq==25.1.2
pyzstd==0.16.0
qgrid==1.3.1
qtconsole==4.7.1
QtPy==1.9.0
qudida==0.0.4
querystring-parser==1.2.4
rapidfuzz==3.9.4
ray==2.32.0
rednose==1.3.0
referencing==0.35.1
regex==2024.5.15
requests==2.32.3
requests-oauthlib==1.3.1
requests-toolbelt==1.0.0
responses==0.21.0
retrying==1.3.3
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rfc3987==1.3.8
rich==13.7.1
rope==0.16.0
rouge-score==0.1.2
rpds-py==0.19.0
rpyc==6.0.0
rsa==4.9
ruamel.yaml==0.18.6
ruamel.yaml.clib==0.2.8
s3transfer==0.6.1
sacrebleu==1.3.6
sacred==0.8.1
safetensors==0.4.3
schema==0.7.1
scikit-image==0.19.0
scikit-learn 
scikit-nni>=0.2.1
scikit-optimize==0.9.0
scikit-plot==0.3.7
scikit-surprise==1.1.1
scipy==1.14.0
scooby==0.5.5
scs==3.2.0
seaborn==0.10.0
SecretStorage==3.3.3
selenium==3.141.0
semver==2.13.0
Send2Trash==1.8.2
sentence-transformers==2.1.0
sentencepiece==0.2.0
sentry-sdk==2.9.0
setproctitle==1.3.3
setuptools-git==1.2
Shapely==1.7.0
shellingham==1.5.4
shtab==1.7.1
simpervisor==1.0.0
simpleaudio==1.0.4
simplejson==3.17.0
six==1.16.0
smart-open==6.4.0
smmap==5.0.1
sniffio==1.3.1
snowballstemmer==2.2.0
sortedcontainers==2.4.0
soundfile==0.12.1
soupsieve==2.5
soxr==0.3.7
soynlp==0.0.493
sphinx-glpi-theme==0.5
SQLAlchemy==1.4.36
sqlparse==0.4.2
srsly==2.4.8
stack-data==0.6.3
starlette==0.37.2
statsmodels==0.14.0
stopit==1.1.2
sympy==1.12.1
tables==3.7.0
tabulate==0.9.0
tbb==2021.11.0
tenacity==8.0.1
tensorboard==2.9.0
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorrt==10.2.0.post1
tensorrt-cu12==10.2.0.post1
tensorrt-cu12-bindings==10.2.0.post1
tensorrt-cu12-libs==10.2.0.post1
termcolor==2.4.0
terminado==0.18.0
termstyle==0.1.11
test-generator==0.1.1
testpath==0.6.0
texttable==1.7.0
threadpool==1.3.2
threadpoolctl==3.2.0
tifffile==2022.5.4
timm==1.0.7
tinycss2==1.2.1
tokenizers==0.20.0
toml==0.10.2
tomli==2.0.1
tomlkit==0.12.5
--extra-index-url https://download.pytorch.org/whl/cu121
torch==2.4.0+cu121
torch-struct==0.5
torch_geometric==2.5.0
torchaudio==2.4.0+cu121
torchfile==0.1.0
torchmetrics==1.4.0.post0
torchtext 
torchvision==0.19.0+cu121
tornado==6.4
tqdm==4.66.4
traitlets==5.9.0
transformer_engine==1.11.0
transformer_engine_cu12==1.11.0
transformers @ git+https://github.com/huggingface/transformers.git@33eef992503689ba1af98090e26d3e98865b2a9b
triton==3.0.0
trl==0.12.0
trove-classifiers==2024.7.2
tweepy==3.8.0
typeguard==4.1.2
types-dataclasses==0.6.6
types-python-dateutil==2.8.19.20240106
typeshed_client==2.6.0
typing==3.7.4.1
typing_extensions==4.12.2
tyro==0.8.5
tzdata==2024.1
ujson==5.2.0
unsloth @ git+https://github.com/unslothai/unsloth.git@d91d40a7b6b556f2d1fdd3e1e430f7a76a799627
update-checker==0.16
uri-template==1.3.0
uritemplate==3.0.1
urllib3
uvicorn==0.29.0
uvloop==0.19.0
vecstack==0.4.0
versioneer==0.18
virtualenv>=20.26.3
visdom==0.2.4
vtk==9.2.6
waitress==3.0.0
wandb==0.17.4
wasabi==1.1.2
watchfiles==0.22.0
wcwidth==0.2.13
webargs==8.1.0
webcolors==1.13
webencodings==0.5.1
websocket-client==1.3.2
websockets==12.0
Werkzeug==3.0.1
widgetsnbextension==3.5.1
wrapt==1.16.0
wslink==1.6.6
xdoctest==1.0.2
xformers==0.0.27.post2
xxhash==3.4.1
yapf==0.29.0
yarl==1.9.4
zipp==3.19.2
zope.interface==5.4.0
